@model IEnumerable<PublicLibrary.Models.Book>



<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "Books", FormMethod.Get))
    
    {
    <p>
        Genre: @Html.DropDownList("bookGenre", "All")
        Title: @Html.TextBox("title") <br/>
        <input type="submit" value="Filter" class="whatever"/>
    </p>
    }
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearPublished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfPages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsItAvailable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearPublished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfPages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsItAvailable)
        </td>
        <td>
            @if (ViewContext.HttpContext.User.IsInRole("Boss"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) 
            }
          

            @if (ViewContext.HttpContext.User.IsInRole("Boss"))
            {
               
                @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
            }
            
            @Html.ActionLink("Details", "Details", new { id=item.BookId }) |
            
            @Html.ActionLink("Borrow the book", "Create", "Bookings",   new { id = item.BookId }, null)
           
            @*<a href="@Url.Action("Create", "Bookings", new { ReaderId = ViewBag.ReaderId })"  class="btn btn-primary btn-large btn-block">
                <span class="glyphicon glyphicon-circle-arrow-up"></span>Deposit</a>*@
           
 
        </td>
        
    </tr>
}

</table>

